body {
  header {
    h1 {
      text-align: center;
      font-size: 8vw;
      color: #62a5b3;
      text-shadow: -6px 8px 20px #031e239c;
    }
  }
  transition: all 0.5s;
  background-color: grey;
  .scorePoint {
    transition: all 0.5s;
    background-color: green;
  }
  .gameWhackaMole {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    width: 85%;
    height: 600px;
    border: solid lightcyan 4px;
    margin: auto;
    div {
      background-color: #2d7f8d;
      border: 1px solid #fff;
      box-shadow: inset -6px 8px 20px 2px #031e239c;
      border-radius: 50px;
      height: 100px;
      width: 100px;
    }
    .selected {
      cursor: pointer;
      background-color: #bc3624;
    }
  }
  .score {
    background-color: tomato;
    width: 85%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
  }
}
