body {
  header {
    h1 {
      text-align: center;
      font-size: 4em;
      color: rgb(50, 239, 239);
    }
  }
  background-color: grey;
  .gameWhackaMole {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    width: 85%;
    height: 600px;
    border: solid lightcyan 4px;
    margin: auto;
    div {
      background-color: adjust-hue($color: #2d7f8d, $degrees: 0);
      border: 1px solid #fff;
      box-shadow: inset -6px 8px 20px 2px #031e239c;
      border-radius: 50px;
      height: 100px;
      width: 100px;
    }
  }
  .score {
    background-color: tomato;
    width: 85%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
  }
}
